@import url(http://fonts.googleapis.com/css?family=Lato);
/*                     .__      ___.   .__                 
___  _______ _______|__|____ \_ |__ |  |   ____   ______
\  \/ /\__  \\_  __ \  \__  \ | __ \|  | _/ __ \ /  ___/
 \   /  / __ \|  | \/  |/ __ \| \_\ \  |_\  ___/ \___ \ 
  \_/  (____  /__|  |__(____  /___  /____/\___  >____  >
            \/              \/    \/          \/     \/ 
*/

/* *** BARRA BAJO DE LA VIDRIERA *** */
barravidriera = #B765FD
/* *** BARRA BAJO DE LA VIDRIERA *** */

/* *** BOTONES *** */
btnbuscar = #49056B
btnregistro = #9A35CD
/* *** BOTONES *** */

/* *** BOTONES VER MAS *** */
vermas = #B765FD
/* *** BOTONES VER MAS *** */

/* *** CAJA PERFILES *** */
bordecaja = #E7D1FA
cajaperfiles = #B765FD
/* *** CAJA PERFILES *** */

/* *** COLORES VARIOS *** */
blanco = #FFFFFF
/* *** COLORES VARIOS *** */

/* *** HEADER *** */
preheader = #9A35CD
header = #49056B
/* *** HEADER *** */

/* *** MENU *** */
menu = #B765FD
/* *** MENU *** */

/* *** TEXTO DEL MENU *** */
textomenu = #49056B
/* *** TEXTO DEL MENU *** */

/*          __          .__                
  _______/  |_ ___.__.|  |  __ __  ______
 /  ___/\   __<   |  ||  | |  |  \/  ___/
 \___ \  |  |  \___  ||  |_|  |  /\___ \ 
/____  > |__|  / ____||____/____//____  >
     \/        \/                     \/ 
*/

*
	border 0px
	margin 0px
	padding 0px

body
	font-family: 'Lato', sans-serif;
	font-size 16px
	height auto
	text-align center
	width 100%

header
	background header
	height 104
	padding .5em 0 .5em 0
	width 100%
	.logo
		float left

nav
	background #b765fd
	height auto
	padding .5em 0 .5em 0
	width 100%
	ul li
		display inline-block
		font-size 1em
		padding 0 .4em 0 .3em
		a 
			color header
			text-decoration none

.colPreHeader1, .colPreHeader2
	font-size .9em
	display inline-block
	padding .5em 0 .5em 0 
	vertical-align top

.colPreHeader1
	float left

.colPreHeader2 
	float right

.contenedor
	height auto
	width 100%

.clear 
	clear both

.logo, .registro
	color blanco
	display inline-block
	vertical-align middle

.preHeader
	color blanco
	background preheader
	height auto
	width 100%

.registro
	margin 3em 0 0 0

.vidriera
	background grey
	height 300px
	width 100%

